{% extends 'pages/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block extra_css %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_field form.mass %}
        {% bootstrap_field form.cargo_features %}
        {% bootstrap_field form.recipient %}
        <div>
            {{ form.from_to_points }}
            {% if form.from_to_points.errors %}
                <ul>
                {% for error in form.from_to_points.errors %}
                    <li class="error_field">{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}
