{% extends 'pages/base.html' %}



{% block content %}
<ul>
    {% for order in object_list %}
    <div class="card text-center mb-3">
        <div class="card-header">
            <P1>ORDER № {{ order.id }}</P1>
        </div>
        <div class="card-body">
            <a> {{ order }}</a>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'detail_order' pk=order.id %}" class="btn btn-primary ">Detail order</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'accept_order' pk=order.id %}" class="btn btn-primary ">Accept order</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</ul>
    {% endblock %}
