{% extends 'core/base.html' %}

{% load bootstrap5 %}

{% block extra_css %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form action="{% url 'create_order' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
    </form>
{#    <div id="id_from_to_points_div_map">#}
{#    <div id="id_from_to_points_map"></div>#}
{#    <textarea id="id_from_to_points" class="vSerializedField required" cols="150" rows="10" name="from_to_points"></textarea>#}
{#    <script>#}
{#        var map_options = {};#}
{##}
{#        var base_layer = new ol.layer.Tile({#}
{#            source: new ol.source.OSM()#}
{#        });#}
{##}
{#        var options = {#}
{#            base_layer: base_layer,#}
{#            geom_name: 'MultiPoint',#}
{#            id: 'id_from_to_points',#}
{#            map_id: 'id_from_to_points_map',#}
{#            map_options: map_options,#}
{#            map_srid: 3857,#}
{#            name: 'from_to_points',#}
{#            default_zoom: 3#}
{#        };#}
{##}
{#        var geodjango_from_to_points = new MapWidget(options);#}
{#    </script>#}
</div>
{% endblock %}
