{% extends 'core/base.html' %}

{% block content %}
    <p>Created orders</p>
    {% for object in created %}
        <a href="{% url 'detail_order' pk=object.id %}">{{ object.start_datetime }} {{ object.price }} BYN</a>
    {% empty %}
        <p>No suh orders yet</p>
    {% endfor %}
    <p>Accepted orders</p>
    {% for object in accepted %}
        <a href="{% url 'detail_order' pk=object.id %}">{{ object.start_datetime }} {{ object.price }} BYN</a>
    {% empty %}
        <p>No suh orders yet</p>
    {% endfor %}
    <p>Finished orders</p>
    {% for object in finished %}
        <a href="{% url 'detail_order' pk=object.id %}">{{ object.start_datetime }} {{ object.price }} BYN</a>
    {% empty %}
        <p>No suh orders yet</p>
    {% endfor %}
{% endblock %}
