{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="color_block">
{% for color, type in order_model.types %}
    <span class="dot" style="background-color: {{ color }}"></span> - {{ type }}
{% endfor %}
</div>
<ul>
    {% for order in object_list %}
    <div class="card text-center mb-3">
        <div class="card-header">
            <P1>ORDER № {{ order.id }}</P1>
        </div>
        <div class="card-body">
            <div class="container mb-3">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">
                            <a> {{ order }}</a>
                        </h5>
                    </div>
                    <div class="col-4">
                        <span class="dot" style="background-color: {{ order.color }}"></span>
                    </div>
                </div>
                {% if request.user.role == user_model.CLIENT_ROLE or order.status == order_model.FINISHED_TYPE %}
                    <a href="{% url 'detail_order' pk=order.id %}" class="btn btn-primary ">Go to details </a>
                {% else %}
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'detail_order' pk=order.id %}" class="btn btn-primary ">Go to details </a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'finish_order' pk=order.id %}" class="btn btn-primary ">Finish order</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}
